# Data Manipulation and Analysis
pandas
numpy
# Visualization
matplotlib
seaborn

# Streamlit
streamlit # Updated to the version you have

# Machine Learning Models
scikit-learn
lightgbm

# Deep Learning Models
keras # Aligned with tensorflow's requirements
tensorflow

# Statistical Tests
scipy

# Serialization
pickle5
joblib
